CONFIG_PRODUCT_HEART=y
CONFIG_INPUT_FINGERPRINT=y
CONFIG_FINGERPRINT_GOODIX=y
CONFIG_SENSORS_HALL=y
CONFIG_REGMAP_IRQ=y
CONFIG_CS47L35_KER_SUPPORT=y
CONFIG_CPU_FREQ_STAT=y
CONFIG_NETFILTER_XT_MATCH_QTAGUID_EXT=y
CONFIG_NETFILTER_XT_MATCH_TLV=y
CONFIG_NETFILTER_XT_TARGET_TCPOPTSTRIP=y
CONFIG_TOUCHSCREEN_GOODIX_GTX8=y
CONFIG_TOUCHSCREEN_GOODIX_GTX8_UPDATE=y
CONFIG_TOUCHSCREEN_GOODIX_GTX8_GESTURE=y
CONFIG_TOUCHSCREEN_GOODIX_GTX8_TOOLS=y
CONFIG_DRM_SDE_ELVSS_DIM_OFF=y
