CONFIG_PRODUCT_ZIPPO=y
CONFIG_INPUT_FINGERPRINT=y
CONFIG_FINGERPRINT_GOODIX=y
CONFIG_MMC_SDHCI_MSM_BH201=y
CONFIG_NETFILTER_XT_MATCH_QTAGUID_EXT=y
CONFIG_NETFILTER_XT_MATCH_TLV=y
CONFIG_NETFILTER_XT_TARGET_TCPOPTSTRIP=y
CONFIG_TOUCHSCREEN_SYNAPTICS_DSX=y
CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_I2C=y
CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_CORE=y
CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_RMI_DEV=y
CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_FW_UPDATE=y
CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_FW_UPDATE_EXTRA_SYSFS=y
CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_TEST_REPORTING=y
# CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_PROXIMITY is not set
# CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_ACTIVE_PEN is not set
CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_GESTURE=y
# CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_VIDEO is not set
# CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_DEBUG is not set
CONFIG_TOUCHSCREEN_FTS=y
CONFIG_TOUCHSCREEN_FTS_DIRECTORY="focaltech_touch"
CONFIG_INPUT_STMVL53L1=y
CONFIG_CPU_FREQ_STAT=y
CONFIG_INITRAMFS_SOURCE=""
# CONFIG_INITRAMFS_FORCE is not set
CONFIG_CMDLINE="ramoops_memreserve=4M"
CONFIG_CMDLINE_EXTEND=y
CONFIG_QCOM_PRESERVE_MEM=y
CONFIG_QCA_CLD_WLAN=m
